* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Helvetica';
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
    background-color: #1F2937;
}

.header h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.links li {
    list-style: none;
}

.links li a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

/* SECTION 1 */

.img-placeholder {
    background-color: #E5E7EB;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.hero-main {
    padding: 100px 200px;
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    gap: 20px;
}

.hero-main h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-main p {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 15px;
}

.btn1 {
    border: none;
    border-radius: 5px;
    background-color: #3883F6;
    color: #F9FAF8;
    padding: 5px 20px;
    font-size: 18px;
}

.hero-texts {
   flex: 1;
}

/* SECTION 2 */

.box {
    width: 150px;
    height: 150px;
    border: solid 4px;
    border-color: #3883F6;
    border-radius: 15px;
}

.random-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 200px 100px 200px;
}

.random-info h1 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 50px 0px;
}

.boxes {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.section p {
    text-align: center;
    padding-top: 10px;
}

/* SECTION 3 */

.quote {
    background-color: #E5E7EB;
    padding: 100px 200px;
    display: flex;
    flex-direction: column;
}

.quote p {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
}

.quote h4 {
    font-size: 24px;
    align-self: flex-end;
    padding-right: 100px;
}

/* SECTION 4 */
.section-4 {
    margin: 100px 0px;
    padding: 60px 200px;
    background-color: #3883F6;
    color: #E5E7EB;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}

.btn2 {
    font-weight: bold;
    border: solid 2px;
    background-color: #3883F6;
    color: #F9FAF8;
    border-color: #F9FAF8;
    border-radius: 8px;
    padding: 0px 50px;
}

/* FOOTER */

footer {
    color: #E5E7EB;
    text-align: center;
    background-color: #1F2937;
    padding: 50px 200px;
}